<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>修改密码</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style type="text/css">
   body{
    background:-moz-linear-gradient(left top,#000,#373131);
   background: -webkit-gradient(linear,left top,right bottom,from(#000),to(#373131));
   background:linear-gradient(left top,#000,#373131);
   font-family: 微软雅黑;
   color: white;
   }
   .form{
      width: 200px;
      height: 800px;
      margin: auto;
      position: relative;
      top: 100px;
   }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>

  <body>
   <div class="navbar navbar-inverse" >
      <div class="navbar-inner nav-collapse" style="height:auto;">
      <a class="navbar-brand" href="#" style="font-family:幼圆;font-size="20px";font-color:#ffffff;font-weight:blod;">个人中心</a>
      <ul class="nav navbar-nav">
           <li><a href="{:U('Index/changeInfo')}" >修改信息</a></li>
           <li><a href="{:U('Index/changeDepartment')}" >申请报名</a></li>
           <li><a href="{:U('Index/changePassword')}" >修改密码</a></li>
      </ul>
     </div>
     <div class="form">
     <form >
       <p>原密码：<input type="password" maxlength="15" id="old-password"></input></p>
       <p>新密码：<input type="password" maxlength="15" id="new-password" ></input></p>
       <p>确认密码：<input type="password" maxlength="15" id="verify-password"></input></p>
      <input type="submit" value="提交" onclick="return view()"></input>
     </form>
     </div>
     

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    function view(){
      var poPassword = $("#old-password").val();
      var pnPassword = $("#new-password").val();
      var pvPassword = $("#verify-password").val();
      if (pnPassword != pvPassword) {
        alert("两次输入密码不同请重试！");
        return  false;
      }
      else{
        $.ajax({
          type:"POST",
          url:"{:U('user/doChangePassword')}",
          data:{"old" : poPassword, "current" : pnPassword},
          datatype:"json",
           success:function(back){
            if (back == "success") {
              alert("修改成功！");
            }else{
              alert(back);
            };
            return true;
           }

        })


      }
        
   
    }
    </script>
      }
  </body>
</html>