<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>南京邮电大学招新系统|后台管理|修改密码</title>
    <style type="text/css">
    .btn2-margin {
        margin-left: -4px;
    }
    
    .container {
        margin-bottom: 20px;
        width: 100%!important;
    }
    
    .container .btn {
        float: right;
        margin-left: 10px;
    }
    
    .container .btn.btn-primary {
        float: left;
    }
    
    .table tr td {
        vertical-align: center;
    }
    
    .step1 {
        width: 450px;
        height: 50px;
        line-height: 27px;
    }
    
    .step1 input,
    .step2 input {
        padding-left: 3px;
        padding-right: 3px;
    }
    
    #btnQuery {
        float: right;
        margin-top: 0;
        margin-left: 0;
    }
    
    #btnCommitPwd {
        float: right;
        margin-top: 0;
        margin-left: 4px;
    }
    
    .step2 {
        width: 542px;
        height: 50px;
        line-height: 27px;
    }

    </style>
    <link rel="stylesheet" href="__ROOT__/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="__ROOT__/js/jquery-1.11.2.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="__ROOT__/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__ROOT__/css/comcss.css">
</head>

<body>
    <div class="div1">
        <h2>欢迎登录 <br>
        <span style="">njupt招新管理系统</span>
        </h2>
        <h5>您当前的身份为：{$identity}</h5>
        <div>
            社团列表
            <select class="form-control" id="nowass">
                <volist name="associations" id="as">
                    <option value="{$as.associationName}" <?php if ($as[ "associationName"]==$nowassociation) { echo "selected=selected"; } ?>>{$as.associationName}</option>
                </volist>
            </select>
        </div>
        <div>
            部门列表
            <select class="form-control" id="nowdep">
                <volist name="departments" id="de">
                    <option value="{$de.id}" association="{$de.association}" <?php if ($de[ "id"]==$nowdepartment) { echo "selected=selected"; } ?>>{$de.departmentName}</option>
                </volist>
            </select>
        </div>
    </div>
    <!-- .div1 -->
    <div class="div2">
        <div class="container">
            <button type="button" class="btn btn-primary" id="btncomctrl"><span class="glyphicon glyphicon-info-sign"></span> 报名信息</button>
            <!-- <button type="button" class="btn btn-primary active">管理社团</button> -->
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span> 管理社团 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="__URL__/AssocMgr">部门管理</a></li>
                    <li><a href="__URL__/editQuestion">修改招新问题</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-primary active"><span class="glyphicon glyphicon-pencil"></span> 修改新生密码</button>
            <button type="button" class="btn" onclick="javascript:window.location.href='__URL__/loginout'"><span class="glyphicon glyphicon-log-out"></span> 注销</button>
            <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-download-alt"></span> 生成XLS</button>
            <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-saved"></span> 结束部门招新</button>
        </div>
        <div class="container">
            <!-- 主内容框 -->
            <fieldset class="step1">
                <input type="text" id="xh" placeholder="更改目标的学号">
                <input type="text" id="name" placeholder="更改目标的姓名">
                <button class="btn btn-primary" id="btnQuery"><span class="glyphicon glyphicon-search"></span> 查询</button>
            </fieldset>
            <div class="step2" style="display:none">
                <input type="password" id="newpwd" placeholder="新密码">
                <input type="password" id="newpwd2" placeholder="重复密码">
                <button class="btn btn-primary" id="btnCommitPwd"><span class="glyphicon glyphicon-ok"></span> 确认修改</button>
                <button class="btn" id="btnCancel">取消</button>
            </div>
        </div>
    </div>
    <!-- .div2 -->
    <script type="text/javascript">
    $(document).on("change", "#nowass,#nowdep", function() {
        var nowass = $("#nowass").val();
        var nowdep = $("#nowdep").val();
        location.href = "__URL__/AssocMgr?nowassociation=" + nowass;
    });

    function SetWinHeight(obj) {
        var ifm = document.getElementById("recuritlist");
        var subWeb = document.frames ? document.frames["recuritlist"].document : ifm.contentDocument;
        if (ifm != null && subWeb != null) {
            ifm.height = subWeb.body.scrollHeight;
        }
    }
    $('#btncomctrl').click(function() {
        window.location.href = "__URL__/comctrl";
    })

    $('#btnQuery').click(function() {
        xh = $('#xh').val();
        name = $('#name').val();
        var xhregex = /^[BQH]+[0-9]{8}$/;
        var nameregex = /[\u4e00-\u9fa5]{2,6}/
        if (!xhregex.test(xh)) {
            alert("学号格式错");
            return;
        };
        if (!nameregex.test(name)) {
            alert("姓名格式错");
            return;
        };
        $.post("__URL__/changePwdStep1", {
            "xh": xh,
            "name": name
        }, function(back) {
            if (back.status == 0) {
                $('.step1').attr('disabled', true);
                $('.step2').show(500);
                token = back.data.token;
                id = back.data.id;

            } else {
                alert(back.errmsg);
            };
        })
    })

    $('#btnCancel').click(function() {
        $('.step1').attr('disabled', false);
        $('.step2').hide(500);
    })
    $('#btnCommitPwd').click(function() {
        var newpwd = $('#newpwd').val();
        var newpwd2 = $('#newpwd2').val();
        if (newpwd != newpwd2) {
            alert("两次密码不一致！");
            return;
        };
        if (!confirm('确认修改 ' + name + ' 的密码吗？')) {
            return;
        };
        $.post('__URL__/changePwdStep2', {
            "id": id,
            "xh": xh,
            "token": token,
            "password": newpwd
        }, function(back) {
            if (back.status != 0) {
                alert(back.msg);
                return;
            };
            alert('修改成功！请告知新生新的密码');
            $('#xh').val("");
            $('#name').val("");
            $('#newpwd').val("");
            $('#newpwd2').val("");
            $('.step1').attr('disabled', false);
            $('.step2').hide(500);
        })
    })

    </script>
</body>

</html>

