<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
  <style type="text/css">
	.btn2-margin{
		margin-left: -4px;
	}	
	.table tr td{
			vertical-align: center;
	}
  </style>
<link rel="stylesheet" href="__ROOT__/css/bootstrap.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="__ROOT__/js/jquery-1.11.2.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="__ROOT__/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="__ROOT__/css/comcss.css">
</head>
<body>

	<nav class="   navbar-default " style="padding-bottom:20px">
  		<div class="container">
    		<button type="button" class="btn btn-primary"> 批量录取</button>
			<button type="button" class="btn btn-success">生成XLS</button>
			<button type="button" class="btn btn-danger">结束部门招新</button>
		
   		</div>
	</nav>
	<div class="div1">
		<h2>欢迎登录 <br>
		<span style="">njupt招新管理系统</span>
		</h2>
		<h5>您当前的身份为：xx社团xx部门</h5>
		<div>
			社团列表
			<select class="form-control">
  				<option>社团1</option>
 				<option>社团2</option>
  				<option>社团3</option>
  				<option>社团4</option>
  				<option>社团5</option>
</select>
		</div>
		<div>
			部门列表
            <select class="form-control">
              <option>部门1</option>
              <option>部门2</option>
              <option>部门3</option>
              <option>部门4</option>
              <option>部门5</option>
            </select>
		</div>
	</div>
	<div class="div2">
		
		<form class="form-inline" >
              <div class="form-group">
                 <label for="xuehao">学号</label>
             	 <input type="text" class="form-control" id="xuehao" placeholder=""  style="max-width:100px">
              </div>
           	  <div class="form-group">
             	 <label for="name">姓名</label>
            	 <input type="text" class="form-control" id="name" placeholder=""  style="max-width:100px"> 
            </div>
            <div class="form-group" style="margin-left:15px">
            <label for="firstvolunteer">第一志愿</label>
            			
            		  <select class="form-control">
                      <option>网络部</option>
                      <option>电子部</option>
                      <option>计算机部</option>
                      <option>发展部</option>
                      <option>办公室</option>
                      <option>社团发展部</option>
			</select>
			</div>
			<div class="form-group" style="margin-left:20px">
            <label for="secondvolunteer">第二志愿</label>
			<select class="form-control">
                      <option>网络部</option>
                      <option>电子部</option>
                      <option>计算机部</option>
                      <option>发展部</option>
                      <option>办公室</option>
			</select>
			</div>
			<div class="form-group" style="margin-left:30px">
            <label for="state">录取状态</label>
			<select class="form-control">
                      <option>审核中</option>
                      <option>残忍拒绝</option>
                      <option>网络部</option>
                      <option>电子部</option>
                      <option>计算机部</option>
                      <option>计算机部</option>
                      <option>计算机部</option>

			</select>
			</div>

        </form>
        
        
   	<table class="table table-hover table-bordered " style="margin-top:20px;">
      		<thead>
		        <tr>
		        <!--奇葩用法，谨慎测试-->
		          <th style="width:15%">学号</th>
		          <th>姓名</th>
		          <th>第一志愿</th>
		          <th>第二志愿</th>
		          <th>录取状态</th>
		          <th>操作</th>
		        </tr>
      		</thead>
   		   <tbody>
   		   <tr>
				<td>B14090304</td>
				<td>孙爽</td>
				<td>办公室</td>
				<td>社团发展部</td>
				<td>审核中</td>
			    <td>
			    	<button type="button" class="btn  btn-sm" >
			    		录取
			    	</button> 
			    	<button type="button" class="btn  btn-primary btn-sm btn2-margin " >
			    		信息
			    	</button> 
			    	 <button type="button" class="btn  btn-sm  btn2-margin">
			    		拒绝
			    	</button>
			    </td>
				</tr>

				<tr>
				<td>B14090304</td>
				<td>孙爽</td>
				<td>办公室</td>
				<td>社团发展部</td>
				<td>审核中</td>
			    <td>
			    	<button type="button" class="btn  btn-sm" >
			    		录取
			    	</button> 
			    	<button type="button" class="btn  btn-primary btn-sm btn2-margin " >
			    		信息
			    	</button> 
			    	 <button type="button" class="btn  btn-sm  btn2-margin">
			    		拒绝
			    	</button>
			    </td>
				</tr>

				
				<tr>
				<td>B14090304</td>
				<td>孙爽</td>
				<td>办公室</td>
				<td>社团发展部</td>
				<td>审核中</td>
			    <td>
			    	<button type="button" class="btn  btn-sm" >
			    		录取
			    	</button> 
			    	<button type="button" class="btn  btn-primary btn-sm btn2-margin " >
			    		信息
			    	</button> 
			    	 <button type="button" class="btn  btn-sm  btn2-margin">
			    		拒绝
			    	</button>
			    </td>
				</tr>

      </tbody>
    </table>
    
    
    		 <p> 共计 700个</p>
    <p>每页显示 <input type="text" class="" id="" placeholder=""  style="max-width:40px"> 当前页   <button type="button" class="btn btn-primary btn-sm" >—</button>  <input type="text" class="" id="" placeholder=""  style="max-width:40px">           /<span>70</span>
    					<button type="button" class="btn btn-primary btn-sm">+</button> </p>
	</div>
</body>
</html>