<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>修改信息</title>
    <style type="text/css">
     .form{
        height: 300px;
        width: 800px;
        margin:auto;
        top: 100px;
     }
  body{ 
   background:-moz-linear-gradient(left top,#000,#373131);
   background: -webkit-gradient(linear,left top,right bottom,from(#000),to(#373131));
   background:linear-gradient(left top,#000,#373131);
   font-family: 微软雅黑;
   font-size: 18px;
   font-weight: 300;
   color: white;
   }
   .btn btn-link{
     float: right;

   }
}

    </style>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body> 
  <div>
  <div id="boxshell">
  <div class="navbar navbar-inverse" >
       <div class="navbar-inner nav-collapse" style="height:auto;">
       <a class="navbar-brand" href="#" style="font-family:幼圆;font-size="30px";font-color:#ffffff;font-weight:600;">个人中心</a>
       <ul class="nav navbar-nav" >
           <li><a href="#" >修改信息</a></li>
           <li><a href="#" >申请报名</a></li>
           <li><a href="#" >修改密码</a></li>
           </ul>
        </div>
   </div>
   </div>
   <div class="form">
      <form   onsubmit="return validate_form(this);" method="post">
       <p>性别：<input type="text"  name="sex",maxlength="10" style="color:blank ,background-color:green;"></input></p>
       <p>生日：<input type="text"  name="birthday",maxlength="20" style="color:blank"></input></p>
       <p>qq号: <input type="text"  name="QQ",maxlength="10" style:"color:blank"></input></p>
       <p>邮箱：<input type="text" name="E-mail",maxlength="20" style="color:blank"></input></p>
       <p>电话：<input type="text" name="telephone number" ,maxlength="10" style="color:blank"></input></p>
       <p>宿舍：<input type="text" name="dorm",maxlength="10" style="color:blank"></input></p>
       <input type="submit" value="提交" onclick="return valid();"></input>
     </form>
    </div>
   
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
     function valid(){
           var sex=document.getElementById("sex").value;
           var birthday=document.getElementById("birthday").value;
           var qq=document.getElementById("QQ").value;
           var mail=document.getElementById("E-mail").value;
           var telephone=document.getElementById("telephone").value;
           var dorm=document.getElementById("dorm").value;
           if (emailFormatCheck(mail)==false) {
              alert("请输入正确格式的邮箱。");
              return  false;
           }
           if (mobilephoneFormatCheck(telephone)==false) {
              alert("请输入正确格式的电话号码")；
              return false;
           }
          else{
            post();
            alert("修改成功！");
            return true;
          }
    }

     function emailFormatCheck(email){
      if ((email.length &gt; 128) || (email.length &lt; 6)) {
    return false;
    }
    var format = /^[A-Za-z0-9+]+[A-Za-z0-9._-+]*@([A-Za-z0-9-]+.)+[A-Za-z0-9]+$/;
    if (!email.match(format)) {
    return false;
    }
    return true;
     }
     function mobilephoneFormatCheck(mobilephone){
        var format = /^0?(13[0-9]|15[012356789]|18[0236789]|14[57])[0-9]{8}$/;
    if (!mobilephone.match(format)) {
    return false;
    }
    return true;
     }
    function  QQFormatCheck(qq){
      var format=/^[0-9]{6,10}$/;
      if(!qq.match(format)) {
        return false;
      }
      return true;
    }
    function post(){
      var sex=$("sex").html();
      var birthday=$("birthday").html();
      var qq=$("QQ").html();
      var mail=$("E-mail").html();
      var telephone=$("telephone").html();
      var dorm=$("dorm").html();
      $ajax({
        type:"POST",
        url:"{:U('User/doReg')}",
        data:{val:sex,val:birthday,val:qq,val:mail,val:telephone;val:dorm},
        datatype:"json",
        success:function(){

        }

      })
    }
</script>
  </body>
</html>