<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>找回密码</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
   body{
    background:-moz-linear-gradient(left top,#000,#373131);
   background: -webkit-gradient(linear,left top,right bottom,from(#000),to(#373131));
   background:linear-gradient(left top,#000,#373131);
   font-family: 微软雅黑;
   color: white;
   }
   .form{
      width: 200px;
      height: 800px;
      margin: auto;
      position: relative;
      top: 100px;
      
   }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   <div class="navbar navbar-inverse" >
       <div class="navbar-inner nav-collapse" style="height:auto;">
       <a class="navbar-brand" href="#" style="font-family:幼圆;font-size="20px";font-color:#ffffff;font-weight:blod;">个人中心</a>
       <ul class="nav navbar-nav">
           <li><a href="#" >修改信息</a></li>
           <li><a href="#" >申请报名</a></li>
           <li><a href="#" >修改密码</a></li>
           </ul>
     </div>
     <div class="form">
     <form >
       <p>原密码：<input type="text" maxlength="15" name="old-password"></input></p>
       <p>新密码：<input type="password" maxlength="15" name="new-password" ></input></p>
       <p>确认密码：<input type="password" maxlength="15" name="verify-password"></input></p>
      <input type="submit" value="提交" onclick="return view()"></input>
     </form>
     </div>
     

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
    function view(){
      var o-password=getElementById("old-password");
      var n-password=getElementById("new-password");
      var v-password=getElementById("verify-password");
      var po-password=$("old-password").html();
      var pn-password=$("new-password").html();
      var pv-password=$("verify-password").html()
      if (n-password.value!=verify-password.value) {
        alert("两次输入密码不同请重试！");
        return  false;

      }
      else{
        $.ajax({
          type:"POST",
          url:"{:U('user/doChangeDepartment')}",
          data:{val:po-password,val:pn-password,val:pv-password},
          datatype:"json",
           success:function(){
            alert("修改成功！");
            return true;
           }

        })


      }
        
   
    }
    </script>
      }
  </body>
</html>